

.WrapUpText {
    color: var(--primary);
}

.upButton{
    color: var(--second);
    font-size: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 0.25em;
    transition: 0.3s;
    background-color: none;
}



.footerCont{
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2em;
}


.footerCont p {
    color: var(--textC);
    margin-top: 2em;
    font-size: 0.8em;
}


