.projects{
  align-items: center;
  justify-content: center;
  
}

.projList {
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
  }

