.projects{
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  transition: 0.3 ease;
}
.projList {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;

  }

  @media screen and (max-width: 1000px) {
    .projList {
      max-width: 650px;
      grid-template-columns: repeat(1, 1fr);
    }

  }
  @media screen and (max-width: 650px){
    .projects{
      margin-top: 1em;
      
    }
  }
