.projects{
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  
}

.projList {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    .projList {
      max-width: 80%;
    }

  
  }
