.heroCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.heroBox{
  width: 80%;
  padding: 1em 2em 2em 2em;
  border-radius: 1em;

}

.name {
  color: var(--primary);
}

.title {
  margin-top: 0.6em;
  font-size: 1.5em;
  font-weight: 200;
  color: var(--second);
}

.descrip {
  font-size: 1rem;
  max-width: 600px;
}

.descrip,
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}




