
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

:root {
  /* --primary: #90a0d9; */
  --primary: black;
  /* --bg: #23283e; */
  --bg: #FBFBFD;
  /* --second: #CDCDFF;
  --textC: #BDBDDC; */
  --second: black;
  --textC: black;
  --secondary: lightskyblue;
}

.wholeApp {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--bg);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.outlinedButton {
  color: var(--primary);
  font-weight: 600;
  z-index: 1;
  border-radius: 1em;
  padding: 0.8em 1.7em;
  font-size: 0.9em;
  display: block;
  transition: 0.25s;
}

.outlinedButton:hover{
 
  transform: translateY(-0.25em);
}

.buttonCont {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 0.8em;
}


@media (max-width: 600px) {
  .section {
    margin-top: 4em;
  }
}

.capHeader{
  text-align: center;
  color: var(--second);
  margin-bottom: 1em;

  border-radius: 1em;
}

.smallheader{

  margin: 0.8em 0.4em 0.4em 0.4em;
  text-decoration: underline;
}

.center {
  display: flex;
  align-items: center;
}
.bar {
  opacity: 0;
  width: 100%;
  margin-top: 5px;
  border-bottom: 2px solid var(--primary);
  transition: all 300ms;
}

.link {
  color: var(--second);
  padding: 0 0 0.3em 0;
  position: relative;

}



